@charset "UTF-8";
/* estilo para impressora */

/* fontes com serifa são mais fáceis de se ler no papel*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none;
}